---
// Import Stylesheet
// Import Stylesheet
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import CardContent from '../components/CardContent.astro';
import backGroundImage from '../assets/AdobeStock_1335349098.jpeg';
---

<BaseLayout>

		<Header></Header>			

		<main id="content" class="main-area">

			<CardContent></CardContent>
		  
	</main>
</BaseLayout>
