---
// Import Stylesheet
import '../styles/global.css';

// data source
// replace temporary JSON placeholder API
const source = 'https://jsonplaceholder.typicode.com/users';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>Retreive and and display external API data with Astro</title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">Gallery</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
		  
				<!-- Your API Data -->
				{
					data.map( item =>
					<li class="card-item">
						<a href="#">
							<figure class="card">
							<img src="https://assets.codepen.io/16425/image-placeholder.png" alt="Placeholder">
							<figcaption class="caption">
								<h3 class="caption-title">{item.name}</h3>
								<p>{item.company.catchPhrase}</p>
							</figcaption>
							</figure>
						</a>
					</li> 
					)
				}
		  
			</ul>
		  </main>
		  


	</body>
</html>
