<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
		<link href="https://api.fontshare.com/v2/css?f[]=panchang@200,700&display=swap" rel="stylesheet">
		<link href="https://api.fontshare.com/v2/css?f[]=sentient@500&display=swap" rel="stylesheet">

		<title>DnD Race Information</title>
	</head>
	<body>

        <slot />

    </body>
</html>